* {
  box-sizing: border-box; }

.wrapper {
  width: 90%;
  margin: 20px auto 0; }

.inner-wrapper {
  width: 100%; }

.event-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 3px;
  margin: 10px 0; }
  .event-card h3 {
    margin-top: 10px; }

.event-info-right {
  justify-content: flex-end;
  flex-direction: column;
  padding: 10px 10px 10px 0; }

.event-info-left {
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 10px; }

.info-label {
  font-weight: bold; }

.landing {
  width: 90%;
  margin: 20px auto 0;
  border-radius: 5px; }
  .landing h1, .landing h3, .landing p {
    margin-left: 30px; }

.login-form {
  margin-left: 30px; }
  .login-form input {
    width: 30%; }

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.events-button {
  width: 45%; }
