<!-- The form action routes to the url that will recieve the post method.-->
<!-- The input "name" field is used to pass variables using the same name to the reciving method
and they are accessed by the request passed into said method. -->
<!-- In this case, the loginUser function defined in views.py is getting the "userName" variable as
"request.POST['userName']" etc -->

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

<div class="jumbotron landing">
  <h1 class="display-3">Welcome to Showdark!</h1>
  <h3 class="lead">Your one-stop shop for tickets to all kinds of events.</h3>
  <hr class="m-y-2">
  <p>Sign in or sign up!</p>
  <div class="form-group login-form">
	  <form action="{% url 'tickets:loginUser' %}" method="post" accept-charset="utf-8">{% csrf_token %}
	  	<label>User name:</label>
	  	<input class="form-control input" name="userName" type="text"><br>
	  	<label>Password:</label>
	  	<input class="form-control input" name="passWord" type="password"><br>
	  	<button class="btn btn-primary btn-lg" type="submit">Login</button>
	  </form>
  </div>

  <p>Don't have an account? <a href="{% url 'tickets:register' %}">Create one here</a>.</p>

</div>
