<!-- <form action="{% url 'tickets:registerUser' %}" method="post" accept-charset="utf-8">{% csrf_token %}

	First name:<br>
	<input name="firstName" type="text"><br>
	Last name:<br>
	<input name="lastName" type="text"><br>
	User name:<br>
	<input name="userName" type="text"><br>
	Password:<br>
	<input name="passWord" type="text"><br>
	Email:<br>
	<input name="email" type="text"><br>
	<button type="submit">Submit</button>
</form>

<p><a href="{% url 'tickets:login' %}">Return to homepage</a>.</p> -->

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
<div class="jumbotron landing">
  <h1 class="display-3">Welcome to Showdark!</h1>
  <h3 class="lead">Your one-stop shop for tickets to all kinds of events.</h3>
  <hr class="m-y-2">
  <p>Sign in or sign up!</p>
  <div class="form-group login-form">
	  <form action="{% url 'tickets:registerUser' %}" method="post" accept-charset="utf-8">{% csrf_token %}
	  	<label>First name:</label>
	  	<input class="form-control" name="firstName" type="text"><br>
	  	<label>Last name:</label>
	  	<input class="form-control" name="lastName" type="text"><br>
	  	<label>User name:</label>
	  	<input class="form-control" name="userName" type="text"><br>
	  	<label>Password:</label>
	  	<input class="form-control" name="passWord" type="password"><br>
	  	<label>Email:</label>
	  	<input class="form-control" name="email" type="text"><br>
	  	<button class="btn btn-primary btn-lg" type="submit">Register</button>
	  </form>
  </div>
</div>
