<!--
	-create event function not tied to any user
	-"action" attr redirects user to specified url
	-"method" attr sends specified HTTP call with contents of form (as long as button is type="submit")
-->

<nav>
  <button type="button" ng-click="allEvents()">View All Events</button>
	<button type="button" name="button" ng-click="backToProfile()">Profile Page</button>
</nav>
<section ng-controller="CreateEventCtrl as createCtrl">
	<form class="form-group">
		<label>Name of event:</label>
		<input class="form-control" type="text" name="eventName" ng-model="eventName">
		<label>Description:</label>
		<input class="form-control" type="text" name="description" ng-model="description">
		<label>City:</label>
		<input class="form-control" type="text" name="city" ng-model="city">
		<label>Start date and time:</label>
		<input type="datetime-local" name="beginTime" ng-model="beginTime">
		<label>End date and time:</label>
		<input type="datetime-local" name="endTime" ng-model="endTime">
		<label>Choose a venue:</label>
		<select ng-model="venue">
			<option ng-repeat="venue in venues" ng-value="venue.pk">((venue.fields.name))</option>
		</select>
		<button class="btn btn-success" type="submit" ng-click="create_event()">Create event</button>
	</form>
</section>
