<section ng-controller="CreateEventCtrl as createCtrl">
	<div class="form-group">
		<label>Name of event:</label>
		<input class="form-control" type="text" name="eventName" ng-model="createCtrl.eventName">
		<label>Description:</label>
		<input class="form-control" type="text" name="description" ng-model="createCtrl.description">
		<label>City:</label>
		<input class="form-control" type="text" name="city" ng-model="createCtrl.city">
		<label>Start date and time:</label>
		<div class="input-group date">
			<input type="text" class="form-control" ng-model="createCtrl.start"/>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
		<label>End date and time:</label>
		<div class="input-group date">
			<input type="text" class="form-control" ng-model="createCtrl.end"/>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
		<label>Choose a venue:</label>
		<select ng-repeat="venue in venues">
			<option ng-model="venueName">((venue.name))</option>
		</select>
		<button class="btn btn-success" type="submit" ng-submit="create_events()">Create event</button>
	</div>
</section>
